<!--  
<p>Name: {{vm.user.name}}</p>
<p>User: {{vm.user}}</p>
-->
<!-- bloc-2 -->
<div class="bloc bg-forrest tc-white bgc-white bloc-bg-texture texture-darken" id="bloc-2">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">
				<img src="img/headshot-troy-block-600x600.jpg" class="img-responsive img-circle" />
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h3 class="statement-bloc-text  tc-white">
					{{vm.user.name}}
				</h3>
				<p class="text-center ">
					<strong>{{vm.calculateAge()}} years old <br>{{vm.user.gender}}</strong>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-3 -->
<div class="bloc bgc-anti-flash-white l-bloc" id="bloc-3">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md  text-left">
					1) Select your options
				</h1>
				<p class=" text-left">
					Select your choices:
				</p>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-6">
				<p>
					• Images <br>• Posts <br>• Etc
				</p>
			</div>
			<div class="col-sm-6">
				<p>
					• Images <br>• Posts <br>• Etc<br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->

<!-- bloc-4 -->
<div class="bloc bgc-white l-bloc" id="bloc-4">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md  text-left">
					2) Select Your Top 5 Images
				</h1>
				<p class="sub-heading  text-left">
					Choose the best images that represent you.
				</p>
			</div>
		</div>
		<div  class="row voffset" ng-repeat="photos in vm.filterCheck() track by $index">
				<div class="col-sm-3" ng-repeat="image in photos">
					<a href="#" class="light-item" data-lightbox="img/placeholder-image.png" data-caption="Image description" data-gallery-id="gallery-{{$index}}"><img src="{{image.source}}" class="img-circle img-responsive" /></a>
				</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- bloc-5 -->
<div class="bloc b-divider bgc-outer-space d-bloc" id="bloc-5">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<a href="index.html" class="btn btn-xl btn-sq btn-wire wire-btn-white">GET MY RECOMMENDATION!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->
